.circleWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 3rem;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--circle-gradient);
  transition: all 4.4s linear;
  transform: scale(0.7);
}

.inhale {
  transform: scale(1);
}

.exhale {
  transform: scale(0.7);
}

.inHold {
  transform: scale(1);
}

.outHold {
  transform: scale(0.7);
}

.textWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--text, #0d1b1e);
}

.text {
  font-size: 2rem !important;
  opacity: 1;
}

@media (max-width: 1280px) {
  .text {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 425px) {
  .text {
    font-size: 1.3rem !important;
  }
}
