:root {
  /* Colors */
  --mint: #a8e6cf;
  --mint-light: #c2f0e2;
  --mint-dark: #6ec3a0;
  --sky: #dff6ff;
  --text: #003366;
  --white: #ffffff;
  --accent: #51848f;
  --lime-green: #58b392;

  /* Gradient */
  --bg-gradient: linear-gradient(
    180deg,
    var(--mint-light) 40%,
    var(--sky) 100%
  );

  --circle-gradient: linear-gradient(
    135deg,
    var(--accent) 0%,
    var(--mint) 100%
  );
}
