.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 60px rgba(255, 255, 255, 0.2);
  background: var(--circle-gradient);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 8s ease-in-out; /* match full breath duration */
  transform: scale(0.7); /* default to minimum scale */
}

.inhale {
  transform: scale(1);
}

.exhale {
  transform: scale(0.7);
}
